#top-container {
    position: relative;
    height: 60px;

    #credit-wrapper {
        float: left;
        height: 100%;
        width: 25%
    }

    #toggle-wrapper {
        float: right;
        height: 100%;
        width: 25%
    }

    #space-wrapper {
        margin: 0 auto;
        height: 100%;
        width: 50%
    }
}
