<header>
  <div id="header-outer">
    <a class="logo-link" href="https://www.flolabcollab.com">
      <img class="logo" src="../assets/images/flolab-logo.png" alt="logo" />
    </a>
    <nav class="menu-outer">
      <ul class="menu">
        <li class="menu-item"><span routerLink="/start">NEWS</span></li>
        <li class="menu-item"><span routerLink="/calendar">CALENDAR</span></li>
        <li class="menu-item"><span routerLink="/events">EVENTS</span></li>
      </ul>
    </nav>
  </div>
  
</header>


<router-outlet></router-outlet>

<app-modal id="modal" style="visibility:hidden"></app-modal>

