/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Colors */
$fl-teal: #bbdad4;
$fl-dark-teal: #72A398;
$fl-red: #ed2023;
$fl-neutral: #dac1bb;
$fl-broken-white: #f0f0f0;
$fl-disabled: grey;

/* Measurements */
$fl-header-height: 120px;


